.App_Slider-Container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.App_Brand-Logo {
    width: 90px;
    display: block;
    margin: 20px auto;
}

.App_Slide-Title {
    margin-bottom: 30px;
}

.App_Slides {
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App_Slide {
    position: absolute;
    opacity: 0;
    transition: opacity 0.7s ease;
}

.App_Slide.active {
    opacity: 1;
}

.App_Center-Car {
    width: 60%;
    margin: 0 auto;
    display: block;
}

/* Arrows */
.App_Arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    background-color: var(--color-white);
    /* border: 10px solid rgb(253, 251, 251); */
    clip-path: polygon(25% 5%,
            75% 5%,
            100% 50%,
            75% 95%,
            25% 95%,
            0% 50%);
    /* border-radius: 50%; */
    cursor: pointer;
    z-index: 5;
    transition: 0.3s ease;
    text-align: center;
}

.App_Left-Arrow {
    left: 40px;
}

.App_Right-Arrow {
    right: 40px;
}

/* .arrow:hover {
    transform: translateY(-50%) scale(1.1);
} */

/* MODEL NAME ABOVE CAR */
.App_ModelName {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 2px;
    margin-top: -20px;
    /* adjust spacing if needed */
    color: var(--color-white);
}

/* ///////////////////////////////// */
/* SPECS BELOW CAR */
.App_Specs-Container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    color: var(--color-white);
}

.App_Spec-Box {
    text-align: center;
}

.App_Spec-Title {
    font-size: 0.9rem;
    opacity: 0.6;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.App_Spec-Value {
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 5px;
}

@media screen and (max-width: 1080px) {
    .App_ModelName {
        font-size: 30px;
    }

    .App_Slide-Title {
        font-size: 60px;
    }

    .App_Arrow {
        font-size: 10px;
    }
}

@media screen and (max-width: 650px) {
    .App_Specs-Container {
        margin-top: 20px;
    }
}