.App_Navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-black);

    padding: 1rem 2rem;
}

.App_Navbar-Logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.App_Navbar-Logo img {
    width: 50px;
}

.App_Navbar-Links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.App_Navbar-Links li {
    margin: 0 1rem;
    cursor: pointer;
}

.App_Navbar-Links li:hover {
    /* color: var(--color-grey); */
    border-bottom: 1px solid var(--color-golden);
}

.App_Navbar-login {
    display: flex;
    justify-items: flex-end;
    align-items: center;
}

.App_Navbar-login a {
    margin: 0 1rem;
    text-decoration: none;
    transform: 0.5s ease;
}

.App_Navbar-login a:hover {
    /* color: var(--color-grey); */
    border-bottom: 1px solid var(--color-golden);
}

.App_Navbar-Smallscreen {
    display: none;
}

.App_Navbar-Smallscreen_Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(2px);
    transition: 0.5s ease;

    flex-direction: column;
    z-index: 5;
}

.App_Navbar-Smallscreen_Overlay img {
    width: 60px;
    color: var(--color-golden);
    cursor: pointer;

    position: absolute;
    top: 20px;
    right: 20px;
}

.App_Navbar-Smallscreen_Links {
    list-style: none;
}

.App_Navbar-Smallscreen_Links li {
    margin-top: 4rem;
    margin: 4rem;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    text-align: center;
    font-family: 'Open Sans';
}

.App_Navbar-Smallscreen_Links li:hover {
    color: var(--color-golden);
}

@media screen and (min-width: 2000px) {
    .App_Navbar-Logo img {
        width: 210px;
    }
}

@media screen and (max-width: 750px) {
    .App_Navbar-Links {
        display: none;
    }

    .App_Navbar-Smallscreen {
        display: flex;
    }
}

@media screen and (max-width: 650px) {
    .App_Navbar {
        padding: 1rem;
    }

    .App_Navbar-Login {
        display: none;
    }

    .App_Navbar-Logo img {
        width: 50px;
    }
}