.App_Gallery {
    display: flex;
    flex-direction: row;

    background: var(--color-black);
    padding: 4rem 3rem 4rem 6rem;
}

.App_Gallery-Content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    min-width: 500px;
    padding-right: 2rem;
}

.App_Gallery-Content button {
    margin-top: 1rem;
}

.App_Gallery-Images {
    flex: 1;
    display: flex;
    flex-direction: row;
    max-width: 50%;
    position: relative;
}

.App_Gallery-Images_Container {
    display: flex;
    flex-direction: row;
    width: max-content;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.App_Gallery-Images_Container::-webkit-scrollbar {
    display: none;
}

.App_Gallery-Images_Card {
    position: relative;
    min-width: 340px;
    height: 500px;
    margin-right: 2rem;
}

.Gallery_Image-Icon {
    position: absolute;
    color: #fff;
    font-size: 2rem;
    opacity: 0;
    transition: .5s ease;
    cursor: pointer;
}

.App_Gallery-Images_Card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
}

.App_Gallery-Images_Card:hover img {
    opacity: .35;
}

.App_Gallery-Images_Card:hover .Gallery_Image-Icon {
    opacity: 1;
}

.App_Gallery-Images_Arrows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 1rem;
    position: absolute;
    bottom: 5%;
}

.Gallery_Arrow-Icon {
    color: var(--color-golden);
    font-size: 2rem;
    cursor: pointer;
    background: var(--color-black);
    border-radius: 5px;
}

.Gallery_Arrow-Icon:hover {
    color: var(--color-white);
}
@media screen and (min-width: 2000px) {
    .App_Gallery-Content button {
        margin-top: 2rem;
    }

    .App_Gallery-Content {
        min-width: 1000px;
        padding-right: 4rem;
    }

    .App_Gallery-Images_Card {
        min-width: 400px;
        height: 547px;
    }
}

@media screen and (max-width: 1150px) {
    .App_Gallery {
        flex-direction: column;
    }

    .App_Gallery-Images {
        max-width: 100%;
        margin: 5rem 0;
    }
}

@media screen and (max-width: 850px) {
    .App_Gallery {
        padding: 4rem 0 4rem 4rem;
    }
}

@media screen and (max-width: 650px) {
    .App_Gallery {
        padding: 4rem 0 4rem 2rem;
    }  
    
    .App_Gallery-Content {
        min-width: 100%;
    }

    .App_Gallery-Images_Card {
        min-width: 240px;
        height: 320px;
    }
}