.App_Header{
    background-color: var(--color-black);
}
.App_Header-H1{
    font-family: var(--font-alt);
    color: var(--color-golden);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 100px;
    font-size: 60px;
}

/* .App_Header-Img img{
    width: 50%;
} */

.App_Wrapper_Img img{
    width: 90px;
}