.App_Video {
    height: 100vh;
    position: relative;
}

.App_Video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.App_Video-Overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.30);
}

.App_Video-Overlay_Circle {
    width: 100px;
    height: 15%;
    border-radius: 100%;
    border: 1px solid var(--color-golden);
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .App_Video-Overlay_Circle {
        width: 135px;
    }
}