.App_FooterOverlay {
    width: 100%;
    z-index: 1;

    display: flex;
    flex-direction: column;
    position: absolute;
}

.App_FooterOverlay-Black {
    height: 25%;
    background: var(--color-black);
}
.App_FooterOverlay-Image{
    height: 75%;
}