.App_NewsLetter {
    padding: 2rem 4rem;
    border: 1px solid var(--color-grey);
    background-color: var(--color-black);
}

.App_NewsLetter-Heading {
    text-align: center;
}

.App_NewsLetter-Input {
    flex-direction: row;
    margin-top: 3rem;
}

.App_NewsLetter-Input input {
    width: 620px;
    border: 1px solid var(--color-gray);
    border-radius: 5px;
    font-size: 1rem;
    font-family: var(--font-base);
    color: var(--color-white);

    margin-right: 2rem;
    padding: 0.75rem 1rem;
    background: var(--color-black);
}

.App_NewsLetter-Input button {
    width: max-content;
}

@media screen and (min-width: 2000px) {
    .App_NewsLetter-Input input {
        font-size: 2rem;
    }
}

@media screen and (max-width: 990px) {
    .App_NewsLetter-Input {
        flex-direction: column;
        width: 100%;
    }

    .App_NewsLetter-Input input {
        margin: 0 0 2rem 0;
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .App_NewsLetter-Heading h1 {
        font-size: 44px;
        line-height: 50px;
    }

    .App_NewsLetter {
        padding: 2rem 0;
        border: none;
    }
}

@media screen and (max-width: 300px) {
    .App_NewsLetter-Heading h1 {
        font-size: 32px;
        line-height: 50px;
    }
}