.App_Footer {
    width: 100%;
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    background: var(--color-black);
    padding-top: 0;
}

.App_Footer-Links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5rem;
    padding: 0 2rem;
}

.App_Footer-Links_Logo img {
    width: 90%;
}

.App_Footer-Links_Contact,
.App_Footer-Links_Logo,
.App_Footer-Links_Work {
    flex: 1;
    margin: 1rem;
    text-align: center;
}

.App_Footer-Links_Work p:nth-child(2n+1) {
    margin-bottom: 1rem;
}

.App_Footer-Links_Icons {
    margin-top: 0.5rem;
}

.App_Footer-Links_Icons svg {
    color: var(--color-white);
    margin: 1rem;
    font-size: 20px;
    cursor: pointer;
}

.App_Footer-Links_Icons svg:hover {
    color: var(--color-golden);

}
.App_Footer-HeadText{
    font-size: 30px;
    font-family: var(--font-base);
    color: var(--color-white);
    margin-bottom: 1rem;
    text-transform: capitalize;
}
@media screen and (min-width: 2000px) {
    .App_Footer-HeadText {
        font-size: 51px;
        line-height: 61.6px;
    }
}

@media screen and (max-width: 1150px) {
    .App_Footer-Links {
        align-items: center;
        flex-direction: column;
        padding: 0;
    }

    .App_Footer-Links_Contact,
    .App_Footer-Links_Logo,
    .App_Footer-Links_Work {
        margin: 2rem 0;
        width: 100%;
    }
}
